body {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(background.jpg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    background-position: center;
}

.main {
    height: 100vh;
    display: flex;
    justify-items: center;
    
}

h1 {
    color: white;
    font-size: 40px;
    background-color: rgb(255 255 255 / 25%);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 0px 20px;
    text-align: center;
    
    
}
.game {   
    text-color: white;
    text-font: bold;
    text-size: 24px;
}
button {
    width: 180px;
    height: 110px;
    background-color: pink;
    margin: 3px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 36px;
}

.congrats-message {
    color: #c44b2d;
    background-color: white;
    text-align: center;
    font-size: 150px;
    padding:50px;
}



