body {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(background.jpg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    background-position: center;
}

.main {
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: white;
    font-size: 40px;
    background-color: rgb(255 255 255 / 25%);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 0px 20px;
    
    
}
.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    width: 120px;
    height: 90px;
    background-color: pink;
    margin: 3px;
    border: 2px solid white;
    border-radius: 10px;
}

