body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.main {
    display:flex;
    justify-items: center;
    align-items: center;
    margin-right: 300px;
}

button {
    width: 100px;
    height: 100px;
    background-color: pink;
    margin: 3px;
}

